/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-dark{
    background-color: #512DA8;
}
.jumbotron{
    padding: 70px 30px 70px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
    border-radius: 0px;
}
a{
    text-decoration: none;
}

.loading{
    width: 100px;
    margin: 100px auto;
}


  /* This is the footer start that starts here */
  .footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
  }
  .footer .list-unstyled  a{
      text-decoration: none;
  }